<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <link href="~/Content/datatables.min.css" rel="stylesheet" />


    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/datatables.min.js"></script>


    <link href="https://fonts.googleapis.com/css?family=Cairo" rel="stylesheet">
    <link href="~/Content/sliderLayout.css" rel="stylesheet" />

    <script src="~/Content/all.min.js"></script>
    <script src="~/Content/fontawesome.js"></script>

    <style>

        * {
            box-sizing: border-box
        }

        body {
            font-family: Cairo;
        }

        /* Style the tab */
        .tab {
            margin-top: 0px;
            border: 1px solid #ccc;
            background-color: #f1f1f1;
            width: 15%;
            height: 500px;
            position: relative;
            float: right;
            font-size: .99em;
            text-align: center;
            color: black;
        }



        .list_li {
            display: block;
            background-color: inherit;
            padding: 18px 6px;
            width: 100%;
            border: none;
            outline: none;
            text-align: left;
            cursor: pointer;
            transition: 0.3s;
            font-size: .8em;
            text-align: center;
            color: black;
            text-decoration: none;
        }

        /* Change background color of buttons on hover */
        .card-header:hover {
            background-color: #40BCBA;
            color: white;
        }

        a:active {
            color: #3F4A5D;
        }


        /* Create an active/current "tab button" class */
        .list_li.active {
            background-color: #ccc;
        }

        /* Style the tab content */
        .tabcontent {
            float: left;
            padding: 0px 12px;
            border: 1px solid #ccc;
            width: 70%;
            border-left: none;
            height: 300px;
        }

        .content {
            float: left;
            width: 80%;
        }

        a {
            text-decoration: none;
        }

        ul {
            list-style-type: none;
        }

        li {
            text-align: right;
            font-size: .9em;
        }

        .btn-link {
            text-decoration: none;
        }

        .card-header {
            height: 70px;
            width: 100%;
        }
    </style>
</head>

<body>

    <div class="w3-sidebar w3-bar-block w3-card w3-animate-left " id="mySidebar" style="display:none; overflow-y:scroll;">
        <button class="w3-bar-item w3-button w3-large"
                onclick="w3_close()">
            اغلاق &times;
        </button>
        <div class="accordion" id="accordionExample">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <a href="~/category/index">
                            <button class="btn btn-link tablinks list_li" style="border-radius:0;width:100%; height:100%;text-decoration:none" type="button" data-toggle="collapse" data-target="" aria-expanded="true" aria-controls="collapseOne">
                                <i class="fas fa-calendar"></i> الاقسام
                                @*@Html.ActionLink("الاقسام", "index", "category")*@
                            </button>
                            الاقسام
                        </a>
                    </h5>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <a href="~/Supervisor/index">
                            <button class="btn btn-link tablinks list_li" style="border-radius:0;width:100%; height:100%;text-decoration:none" type="button" data-toggle="collapse" data-target="" aria-expanded="true" aria-controls="collapseOne">
                                <i class="fas fa-binoculars"> </i> قائمه المراقبين
                            </button>
                            قائمه المراقبين
                        </a>
                    </h5>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <a href="~/Employee/index">
                            <button class="btn btn-link tablinks list_li" style="border-radius:0;width:100%; height:100%;text-decoration:none" type="button" data-toggle="collapse" data-target="" aria-expanded="true" aria-controls="collapseOne">
                                <i class="fas fa-users"> </i> قائمة الموظفين
                            </button>
                            قائمة الموظفين
                        </a>
                    </h5>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <a href="~/DaysAndReports/Create">
                            <button class="btn btn-link tablinks list_li" style="border-radius:0;width:100%; height:100%;text-decoration:none" type="button" data-toggle="collapse" data-target="" aria-expanded="true" aria-controls="collapseOne">
                                <i class="fas fa-clock"> </i> ساعات عدم التواجد
                            </button>
                            ساعات عدم التواجد
                        </a>
                    </h5>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <a href="~/DaysAndReports/Reports">
                            <button class="btn btn-link tablinks list_li" style="border-radius:0;width:100%; height:100%;text-decoration:none" type="button" data-toggle="collapse" data-target="" aria-expanded="true" aria-controls="collapseOne">
                                <i class="fas fa-file-pdf"> </i> التقارير
                            </button>
                        </a>
                    </h5>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <a href="~/DaysAndReports/MangeReport">
                            <button class="btn btn-link tablinks list_li" style="border-radius:0;width:100%; height:100%;text-decoration:none" type="button" data-toggle="collapse" data-target="" aria-expanded="true" aria-controls="collapseOne">
                                <i class="fas fa-cogs"> </i> التحكم بالتقارير
                            </button>
                        </a>
                    </h5>
                </div>
            </div>
 
        </div>
            </div>


    <nav class="navbar navbar-expand-md navbar-light bg-light font-weight-bold"
         style="transition: all 1s ease-out;direction: rtl;">
        <div class="container">

            @Html.ActionLink("الرئيسية", "index", "home", new { area = "" }, new { @class = "navbar-brand float-right" })

            <button class="navbar-toggler navbar-toggler-right" id="menubutton" type="button" data-toggle="collapse"
                    data-target="#navbarDarkSupportedContent" aria-controls="navbar2SupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse text-center  justify-content-end" id="navbarDarkSupportedContent">
                <form class="form-inline my-2 my-lg-0">
                    <ul class="navbar-nav text-right">

                        @Html.Partial("_LoginPartial")

                    </ul>


                </form>
            </div>
        </div>
    </nav>


    <div id="main" style="" >
        <button id="openNav" style="    " class="w3-button w3-teal w3-xlarge" onclick="w3_open()">&#9776;</button>
        @RenderBody()
        <br />
        @*<center>
            <div style="background-color:#;color:# ;position:relative;opacity:.9;border-top:2px solid #0094ff" class="bg-light text-dark font-weight-bold">
                <div class="container text-right">
                    <div class=" row py-5">


                        <div class="col-md-3  text-center">
                            <a href="https://WWW.UPTOP-EG.COM">   <img class="d-block mx-auto img-fluid" src="/uptop.png" style="height:150px;position:relative;" alt="Second slide"></a>

                            <p class="footer-company-name">UP-TOP - For Media and Programming Solutions &copy; 2019</p>
                        </div>



                        <div class="col-md-9">
                            <div class="row text-right">
                                <div class="col-12 py-2">
                                    <p class="d-inline ">  كفر الشيخ - دوران النصر - بجوار فرع فودافون - أعلى المصريه للادويه - الور الثانى علوى  <i class="fas fa-map-marker mx-1  fa-lg"></i></p>
                                </div>
                                <div class="col-12 py-2">
                                    <p class="d-inline "> 01013004509 - 01009136830 - 01111468462 <i class="fas fa-phone mx-1 fa-lg"></i></p>
                                </div>
                                <div class="col-12 py-2">
                                    <p class="d-inline "> <a href="mailto:Support@UPTOP-EG.COM">Support@UPTOP-EG.COM</a> <i class="fas fa-envelope fa-lg mx-1"></i></p>
                                </div>
                            </div>


                        </div>
 

                    </div>
                </div>
            </div>
     
        </center>*@
    </div>

  
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

<script>
    function w3_open() {
        document.getElementById("main").style.marginLeft = "25%";
        document.getElementById("mySidebar").style.width = "25%";
        document.getElementById("mySidebar").style.display = "block";
        document.getElementById("openNav").style.display = 'none';
    }
    function w3_close() {
        document.getElementById("main").style.marginLeft = "0%";
        document.getElementById("mySidebar").style.display = "none";
        document.getElementById("openNav").style.display = "inline-block";
    }
</script>
     <script>

        $(document).ready(function () {
            $('#dtBasicExample').DataTable({
                "scrollX": "100",
                "scrollCollapse": true,
                "pagingType": "full_numbers",
                "ordering": false
            });
            $('#dtBasicExample_length').hide();

            $('#dtBasicExample_wrapper .row').addClass('no-gutters');

            $('#dtBasicExample_wrapper .row .col-md-6').addClass('col-md-12');

            $('#dtBasicExample_wrapper .row .col-md-6 .dataTables_filter').addClass('w-100 px-1');

            //$('#dtBasicExample_wrapper .row .col-md-6 .dataTables_filter label .form-control').addClass('w-100 m-0');

          $('#dtBasicExample_wrapper .row .col-md-6 .dataTables_filter label .form-control').removeClass('form-control-sm');

            $('#dtBasicExample_wrapper .row .col-md-6 .dataTables_filter label .form-control').attr("placeholder", "البحث");
            $('#dtBasicExample_wrapper .row .col-md-6 .dataTables_filter label .form-control').addClass("text-right");

        });
    </script>


 