@model IEnumerable<Stores.Models.DaysOFF>
<table id="dtBasicExample" class="table table-hover table-striped table-bordered" style="text-align:center" cellspacing="0" width="100%">
    @*<table class="table table-hover" id="myTable" style="text-align:center">*@
    <tr class="table-heading " style="background-color:#40BCBA">
        <th>
            رقم المحضر / تاريخه
        </th>
        <th>
            المده الزمنيه الى

        </th>
        <th>
            المده الزمنيه من
        </th>
        <th>
            التاريخ
        </th>
        <th>
            اليوم
        </th>
    </tr>
    <tbody id="SetStudentList">
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.NumberOfMahdar / @item.DayofDate.ToShortDateString()</td>
                <td>@item.DateTo</td>
                <td>@item.DateFrom</td>
                <td>@item.reportDate.ToShortDateString()</td>
                <td>@item.reportDate.DayOfWeek</td>
            </tr>
    
        }
    </tbody>
</table>
<h3><p>  الايام:     @ViewBag.Days الساعات :     @ViewBag.Hours الدقائق    @ViewBag.Min </p> </h3>
