@model Stores.Models.CommonClasses.UserWithCate
@{
    ViewBag.Title = "مراقب جديد";
}
  
<script>

    function AddNewMowardeen() {

        var elwekel = document.getElementsByClassName("pre");

        $.ajax({
            type: "Post",
            url: '/Supervisor/EditPervilage?elwekel=' + elwekel,

            data: JSON.stringify(elwekel),
            success: function (result) {
                alert("تمت الاضافه بنجاج");
                // window.location.href = "/Home/index";
                location.reload(true);


            }
        })

    };


    $(document).ready(function () {
        $('input[type="checkbox"]').click(function () {
            if ($(this).prop("checked") == true) {

                //add
                var id = $(this);
                $.ajax({
                    url: '/Supervisor/savecheck?id=' + id.val(),
                    contentType: "application/json;charset=utf-8",
                    dataType: "Json",
                    success: function (data) {
                        $('#PublisherID').empty();

                    }

                });
            }
            else if ($(this).prop("checked") == false) {
                //remove
                var id = $(this);
                $.ajax({
                    url: '/Supervisor/Removecheck?id=' + id.val(),
                    contentType: "application/json;charset=utf-8",
                    dataType: "Json",
                    success: function (data) {
                        $('#PublisherID').empty();

                    }

                });
            }


        });
    });


    $(document).ready(function () {
        $("#Number").change(function () {
            var Number = $(this);
            $.ajax({
                url: '/Supervisor/CheckNumberIfExist?Number=' + Number.val(),
                contentType: "application/json;charset=utf-8",
                dataType: "Json",
                type: 'GET',
                async: true,
                cache: false,
                success: function (data) {
                    if (data == false) {
                        $("#SaveRecord").attr("disabled", false);
                        $('#Message').text(' ');
                    }
                    else {
                        $("#SaveRecord").attr("disabled", true);
                        $('#Message').text('هذا الرقم الوظيفى غير متاح');
                        $('#Message').css({ 'color': 'red' });

                    }
                }
            });
        });
    });
 

 

</script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#Number').keypress(function (e) {
            if (this.value.length == 0 && e.which == 48) {
                return false;
            }
        });
    });
</script>
<center>
    <h3>اضافة مراقب جديد </h3>
    ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
    <br />
</center>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <center>
        <div class="form-horizontal" style="border:3px solid #808080">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.userY.name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input type="text" class="form-control text-right" name="name" id="name" required="required" required />
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.userY.Number, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input type="number" class="form-control text-right" name="Number"  id="Number" required="required" required  />
                </div>
                <p id="Message"></p>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.userY.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input type="password" class="form-control text-right" name="Password" id="Password" value="Password"  />
                    @Html.ValidationMessageFor(model => model.userY.Password, "", new { @class = "text-danger" ,@hidden= "@hidden" })
                </div>
            </div>

            <div class="form-group">
                <input type="checkbox" name="Status" id="Status" value="True" class="" checked hidden />
            </div>
            @*<div class="form-group">
                    @Html.LabelFor(model => model.userY.Status, htmlAttributes: new { @class = "control-label" })
                    <input type="checkbox" name="Status" id="Status" class="form-group" value="true" />
                    @Html.ValidationMessageFor(model => model.userY.Status, "", new { @class = "text-danger" })
                </div>*@
            <div class="form-group">
                @Html.LabelFor(model => model.userY.AsAdmin, htmlAttributes: new { @class = "control-label " })
                <input type="checkbox" name="AsAdmin" id="AsAdmin" class="form-group" value="true" />
                @Html.ValidationMessageFor(model => model.userY.AsAdmin, "", new { @class = "text-danger" })
            </div>
            <b> <p style="border:1px solid #808080;background-color:#40BCBA;color:black "> صلاحيات الاقسام</p></b>
            <div class="form-group">
                <table>
                    <tr>

                        @foreach (var item in Model.CategoryX.GroupBy(f => f.CategoryName).Select(f => f.FirstOrDefault()).Where(f => f.Status == false))
                        {
                            <td>
                                @item.CategoryName
                                <input type="checkbox" name="@item.id" id="@item.id" class="form-group pre" value="@item.CategoryName" />
                            </td>
                            <td></td>
                        }
                    </tr>
                </table>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="اضافة" id="SaveRecord" class="btn btn-info" />
                </div>
            </div>
        </div>
    </center>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
